.navbar-brand {
    font-size: 2.6rem;
    font-weight: 100;
}

.main {
    margin-top: 5.5rem;
}

.img {
    background-image: url(/img/cover.jpg);
    background-size: cover;
    height: 22rem;
}

.btn-light {
    background-color: rgb(223, 223, 223);
    border: transparent;
}

.btn-info {
    background-color: #BBB0A3;
    border: transparent;
}

.btn-info:hover {
    background-color: #d3c7b9;
    border: transparent;
}